/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-card {
  height: 100vh;
  background-color: #0f172a;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: #f8fafc;
  font-family: roboto;
  font-size: 35px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 65px;
  }

  .logo {
    height: 450px;
    width: 450px;
  }
}

/* .image-container{
display: flex;
} */

.logo {
  height: 300px;
  width: 300px;
}
